<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>musicflat</key>
    <string>musicflat.glif</string>
    <key>musicnatural</key>
    <string>musicnatural.glif</string>
    <key>musicsharp</key>
    <string>musicsharp.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniE002</key>
    <string>uniE_002.glif</string>
    <key>uniE003</key>
    <string>uniE_003.glif</string>
    <key>uniE004</key>
    <string>uniE_004.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uniE006</key>
    <string>uniE_006.glif</string>
    <key>uniE007</key>
    <string>uniE_007.glif</string>
    <key>uniE00B</key>
    <string>uniE_00B_.glif</string>
    <key>uniE00C</key>
    <string>uniE_00C_.glif</string>
    <key>uniE00D</key>
    <string>uniE_00D_.glif</string>
    <key>uniE043</key>
    <string>uniE_043.glif</string>
    <key>uniE044</key>
    <string>uniE_044.glif</string>
    <key>uniE047</key>
    <string>uniE_047.glif</string>
    <key>uniE048</key>
    <string>uniE_048.glif</string>
    <key>uniE050</key>
    <string>uniE_050.glif</string>
    <key>uniE052</key>
    <string>uniE_052.glif</string>
    <key>uniE053</key>
    <string>uniE_053.glif</string>
    <key>uniE054</key>
    <string>uniE_054.glif</string>
    <key>uniE05C</key>
    <string>uniE_05C_.glif</string>
    <key>uniE062</key>
    <string>uniE_062.glif</string>
    <key>uniE063</key>
    <string>uniE_063.glif</string>
    <key>uniE064</key>
    <string>uniE_064.glif</string>
    <key>uniE069</key>
    <string>uniE_069.glif</string>
    <key>uniE06A</key>
    <string>uniE_06A_.glif</string>
    <key>uniE06E</key>
    <string>uniE_06E_.glif</string>
    <key>uniE07D</key>
    <string>uniE_07D_.glif</string>
    <key>uniE07E</key>
    <string>uniE_07E_.glif</string>
    <key>uniE080</key>
    <string>uniE_080.glif</string>
    <key>uniE081</key>
    <string>uniE_081.glif</string>
    <key>uniE082</key>
    <string>uniE_082.glif</string>
    <key>uniE083</key>
    <string>uniE_083.glif</string>
    <key>uniE084</key>
    <string>uniE_084.glif</string>
    <key>uniE085</key>
    <string>uniE_085.glif</string>
    <key>uniE086</key>
    <string>uniE_086.glif</string>
    <key>uniE087</key>
    <string>uniE_087.glif</string>
    <key>uniE088</key>
    <string>uniE_088.glif</string>
    <key>uniE089</key>
    <string>uniE_089.glif</string>
    <key>uniE08A</key>
    <string>uniE_08A_.glif</string>
    <key>uniE08B</key>
    <string>uniE_08B_.glif</string>
    <key>uniE08C</key>
    <string>uniE_08C_.glif</string>
    <key>uniE08F</key>
    <string>uniE_08F_.glif</string>
    <key>uniE094</key>
    <string>uniE_094.glif</string>
    <key>uniE095</key>
    <string>uniE_095.glif</string>
    <key>uniE09C</key>
    <string>uniE_09C_.glif</string>
    <key>uniE09D</key>
    <string>uniE_09D_.glif</string>
    <key>uniE0A0</key>
    <string>uniE_0A_0.glif</string>
    <key>uniE0A1</key>
    <string>uniE_0A_1.glif</string>
    <key>uniE0A2</key>
    <string>uniE_0A_2.glif</string>
    <key>uniE0A3</key>
    <string>uniE_0A_3.glif</string>
    <key>uniE0A4</key>
    <string>uniE_0A_4.glif</string>
    <key>uniE0A7</key>
    <string>uniE_0A_7.glif</string>
    <key>uniE0A8</key>
    <string>uniE_0A_8.glif</string>
    <key>uniE0A9</key>
    <string>uniE_0A_9.glif</string>
    <key>uniE0AA</key>
    <string>uniE_0A_A_.glif</string>
    <key>uniE0B1</key>
    <string>uniE_0B_1.glif</string>
    <key>uniE0B2</key>
    <string>uniE_0B_2.glif</string>
    <key>uniE0B3</key>
    <string>uniE_0B_3.glif</string>
    <key>uniE0B6</key>
    <string>uniE_0B_6.glif</string>
    <key>uniE0B7</key>
    <string>uniE_0B_7.glif</string>
    <key>uniE0B8</key>
    <string>uniE_0B_8.glif</string>
    <key>uniE0B9</key>
    <string>uniE_0B_9.glif</string>
    <key>uniE0BD</key>
    <string>uniE_0B_D_.glif</string>
    <key>uniE0BE</key>
    <string>uniE_0B_E_.glif</string>
    <key>uniE0C6</key>
    <string>uniE_0C_6.glif</string>
    <key>uniE0C7</key>
    <string>uniE_0C_7.glif</string>
    <key>uniE0D8</key>
    <string>uniE_0D_8.glif</string>
    <key>uniE0D9</key>
    <string>uniE_0D_9.glif</string>
    <key>uniE0DA</key>
    <string>uniE_0D_A_.glif</string>
    <key>uniE0DB</key>
    <string>uniE_0D_B_.glif</string>
    <key>uniE0DD</key>
    <string>uniE_0D_D_.glif</string>
    <key>uniE0E0</key>
    <string>uniE_0E_0.glif</string>
    <key>uniE0E1</key>
    <string>uniE_0E_1.glif</string>
    <key>uniE0E2</key>
    <string>uniE_0E_2.glif</string>
    <key>uniE0F5</key>
    <string>uniE_0F_5.glif</string>
    <key>uniE0F6</key>
    <string>uniE_0F_6.glif</string>
    <key>uniE100</key>
    <string>uniE_100.glif</string>
    <key>uniE101</key>
    <string>uniE_101.glif</string>
    <key>uniE102</key>
    <string>uniE_102.glif</string>
    <key>uniE103</key>
    <string>uniE_103.glif</string>
    <key>uniE104</key>
    <string>uniE_104.glif</string>
    <key>uniE105</key>
    <string>uniE_105.glif</string>
    <key>uniE106</key>
    <string>uniE_106.glif</string>
    <key>uniE107</key>
    <string>uniE_107.glif</string>
    <key>uniE108</key>
    <string>uniE_108.glif</string>
    <key>uniE109</key>
    <string>uniE_109.glif</string>
    <key>uniE10A</key>
    <string>uniE_10A_.glif</string>
    <key>uniE113</key>
    <string>uniE_113.glif</string>
    <key>uniE114</key>
    <string>uniE_114.glif</string>
    <key>uniE11A</key>
    <string>uniE_11A_.glif</string>
    <key>uniE11B</key>
    <string>uniE_11B_.glif</string>
    <key>uniE1D0</key>
    <string>uniE_1D_0.glif</string>
    <key>uniE1D1</key>
    <string>uniE_1D_1.glif</string>
    <key>uniE1D2</key>
    <string>uniE_1D_2.glif</string>
    <key>uniE1D3</key>
    <string>uniE_1D_3.glif</string>
    <key>uniE1D5</key>
    <string>uniE_1D_5.glif</string>
    <key>uniE1D7</key>
    <string>uniE_1D_7.glif</string>
    <key>uniE1D9</key>
    <string>uniE_1D_9.glif</string>
    <key>uniE1E7</key>
    <string>uniE_1E_7.glif</string>
    <key>uniE210</key>
    <string>uniE_210.glif</string>
    <key>uniE220</key>
    <string>uniE_220.glif</string>
    <key>uniE221</key>
    <string>uniE_221.glif</string>
    <key>uniE222</key>
    <string>uniE_222.glif</string>
    <key>uniE223</key>
    <string>uniE_223.glif</string>
    <key>uniE22A</key>
    <string>uniE_22A_.glif</string>
    <key>uniE22B</key>
    <string>uniE_22B_.glif</string>
    <key>uniE240</key>
    <string>uniE_240.glif</string>
    <key>uniE241</key>
    <string>uniE_241.glif</string>
    <key>uniE242</key>
    <string>uniE_242.glif</string>
    <key>uniE243</key>
    <string>uniE_243.glif</string>
    <key>uniE244</key>
    <string>uniE_244.glif</string>
    <key>uniE245</key>
    <string>uniE_245.glif</string>
    <key>uniE246</key>
    <string>uniE_246.glif</string>
    <key>uniE247</key>
    <string>uniE_247.glif</string>
    <key>uniE248</key>
    <string>uniE_248.glif</string>
    <key>uniE249</key>
    <string>uniE_249.glif</string>
    <key>uniE24A</key>
    <string>uniE_24A_.glif</string>
    <key>uniE24B</key>
    <string>uniE_24B_.glif</string>
    <key>uniE24C</key>
    <string>uniE_24C_.glif</string>
    <key>uniE24D</key>
    <string>uniE_24D_.glif</string>
    <key>uniE250</key>
    <string>uniE_250.glif</string>
    <key>uniE251</key>
    <string>uniE_251.glif</string>
    <key>uniE260</key>
    <string>uniE_260.glif</string>
    <key>uniE261</key>
    <string>uniE_261.glif</string>
    <key>uniE262</key>
    <string>uniE_262.glif</string>
    <key>uniE263</key>
    <string>uniE_263.glif</string>
    <key>uniE264</key>
    <string>uniE_264.glif</string>
    <key>uniE26A</key>
    <string>uniE_26A_.glif</string>
    <key>uniE26B</key>
    <string>uniE_26B_.glif</string>
    <key>uniE26C</key>
    <string>uniE_26C_.glif</string>
    <key>uniE26D</key>
    <string>uniE_26D_.glif</string>
    <key>uniE47E</key>
    <string>uniE_47E_.glif</string>
    <key>uniE47F</key>
    <string>uniE_47F_.glif</string>
    <key>uniE4A0</key>
    <string>uniE_4A_0.glif</string>
    <key>uniE4A1</key>
    <string>uniE_4A_1.glif</string>
    <key>uniE4A2</key>
    <string>uniE_4A_2.glif</string>
    <key>uniE4A3</key>
    <string>uniE_4A_3.glif</string>
    <key>uniE4A4</key>
    <string>uniE_4A_4.glif</string>
    <key>uniE4A5</key>
    <string>uniE_4A_5.glif</string>
    <key>uniE4A6</key>
    <string>uniE_4A_6.glif</string>
    <key>uniE4A7</key>
    <string>uniE_4A_7.glif</string>
    <key>uniE4A8</key>
    <string>uniE_4A_8.glif</string>
    <key>uniE4A9</key>
    <string>uniE_4A_9.glif</string>
    <key>uniE4AA</key>
    <string>uniE_4A_A_.glif</string>
    <key>uniE4AB</key>
    <string>uniE_4A_B_.glif</string>
    <key>uniE4AC</key>
    <string>uniE_4A_C_.glif</string>
    <key>uniE4AD</key>
    <string>uniE_4A_D_.glif</string>
    <key>uniE4AE</key>
    <string>uniE_4A_E_.glif</string>
    <key>uniE4AF</key>
    <string>uniE_4A_F_.glif</string>
    <key>uniE4B0</key>
    <string>uniE_4B_0.glif</string>
    <key>uniE4B1</key>
    <string>uniE_4B_1.glif</string>
    <key>uniE4B2</key>
    <string>uniE_4B_2.glif</string>
    <key>uniE4B3</key>
    <string>uniE_4B_3.glif</string>
    <key>uniE4B4</key>
    <string>uniE_4B_4.glif</string>
    <key>uniE4B5</key>
    <string>uniE_4B_5.glif</string>
    <key>uniE4B6</key>
    <string>uniE_4B_6.glif</string>
    <key>uniE4B7</key>
    <string>uniE_4B_7.glif</string>
    <key>uniE4B8</key>
    <string>uniE_4B_8.glif</string>
    <key>uniE4B9</key>
    <string>uniE_4B_9.glif</string>
    <key>uniE4BA</key>
    <string>uniE_4B_A_.glif</string>
    <key>uniE4BB</key>
    <string>uniE_4B_B_.glif</string>
    <key>uniE4BC</key>
    <string>uniE_4B_C_.glif</string>
    <key>uniE4BD</key>
    <string>uniE_4B_D_.glif</string>
    <key>uniE4C0</key>
    <string>uniE_4C_0.glif</string>
    <key>uniE4C1</key>
    <string>uniE_4C_1.glif</string>
    <key>uniE4CE</key>
    <string>uniE_4C_E_.glif</string>
    <key>uniE4CF</key>
    <string>uniE_4C_F_.glif</string>
    <key>uniE4D0</key>
    <string>uniE_4D_0.glif</string>
    <key>uniE4D1</key>
    <string>uniE_4D_1.glif</string>
    <key>uniE4E0</key>
    <string>uniE_4E_0.glif</string>
    <key>uniE4E1</key>
    <string>uniE_4E_1.glif</string>
    <key>uniE4E2</key>
    <string>uniE_4E_2.glif</string>
    <key>uniE4E3</key>
    <string>uniE_4E_3.glif</string>
    <key>uniE4E4</key>
    <string>uniE_4E_4.glif</string>
    <key>uniE4E5</key>
    <string>uniE_4E_5.glif</string>
    <key>uniE4E6</key>
    <string>uniE_4E_6.glif</string>
    <key>uniE4E7</key>
    <string>uniE_4E_7.glif</string>
    <key>uniE4E8</key>
    <string>uniE_4E_8.glif</string>
    <key>uniE4E9</key>
    <string>uniE_4E_9.glif</string>
    <key>uniE4EA</key>
    <string>uniE_4E_A_.glif</string>
    <key>uniE4EB</key>
    <string>uniE_4E_B_.glif</string>
    <key>uniE4EC</key>
    <string>uniE_4E_C_.glif</string>
    <key>uniE4EE</key>
    <string>uniE_4E_E_.glif</string>
    <key>uniE4EF</key>
    <string>uniE_4E_F_.glif</string>
    <key>uniE4F0</key>
    <string>uniE_4F_0.glif</string>
    <key>uniE4F1</key>
    <string>uniE_4F_1.glif</string>
    <key>uniE500</key>
    <string>uniE_500.glif</string>
    <key>uniE501</key>
    <string>uniE_501.glif</string>
    <key>uniE503</key>
    <string>uniE_503.glif</string>
    <key>uniE504</key>
    <string>uniE_504.glif</string>
    <key>uniE505</key>
    <string>uniE_505.glif</string>
    <key>uniE510</key>
    <string>uniE_510.glif</string>
    <key>uniE511</key>
    <string>uniE_511.glif</string>
    <key>uniE512</key>
    <string>uniE_512.glif</string>
    <key>uniE513</key>
    <string>uniE_513.glif</string>
    <key>uniE515</key>
    <string>uniE_515.glif</string>
    <key>uniE516</key>
    <string>uniE_516.glif</string>
    <key>uniE51A</key>
    <string>uniE_51A_.glif</string>
    <key>uniE51B</key>
    <string>uniE_51B_.glif</string>
    <key>uniE51C</key>
    <string>uniE_51C_.glif</string>
    <key>uniE51D</key>
    <string>uniE_51D_.glif</string>
    <key>uniE520</key>
    <string>uniE_520.glif</string>
    <key>uniE521</key>
    <string>uniE_521.glif</string>
    <key>uniE522</key>
    <string>uniE_522.glif</string>
    <key>uniE523</key>
    <string>uniE_523.glif</string>
    <key>uniE524</key>
    <string>uniE_524.glif</string>
    <key>uniE525</key>
    <string>uniE_525.glif</string>
    <key>uniE526</key>
    <string>uniE_526.glif</string>
    <key>uniE527</key>
    <string>uniE_527.glif</string>
    <key>uniE528</key>
    <string>uniE_528.glif</string>
    <key>uniE529</key>
    <string>uniE_529.glif</string>
    <key>uniE52A</key>
    <string>uniE_52A_.glif</string>
    <key>uniE52B</key>
    <string>uniE_52B_.glif</string>
    <key>uniE52C</key>
    <string>uniE_52C_.glif</string>
    <key>uniE52D</key>
    <string>uniE_52D_.glif</string>
    <key>uniE52E</key>
    <string>uniE_52E_.glif</string>
    <key>uniE52F</key>
    <string>uniE_52F_.glif</string>
    <key>uniE530</key>
    <string>uniE_530.glif</string>
    <key>uniE531</key>
    <string>uniE_531.glif</string>
    <key>uniE532</key>
    <string>uniE_532.glif</string>
    <key>uniE533</key>
    <string>uniE_533.glif</string>
    <key>uniE534</key>
    <string>uniE_534.glif</string>
    <key>uniE535</key>
    <string>uniE_535.glif</string>
    <key>uniE536</key>
    <string>uniE_536.glif</string>
    <key>uniE537</key>
    <string>uniE_537.glif</string>
    <key>uniE538</key>
    <string>uniE_538.glif</string>
    <key>uniE539</key>
    <string>uniE_539.glif</string>
    <key>uniE53A</key>
    <string>uniE_53A_.glif</string>
    <key>uniE53B</key>
    <string>uniE_53B_.glif</string>
    <key>uniE53C</key>
    <string>uniE_53C_.glif</string>
    <key>uniE53D</key>
    <string>uniE_53D_.glif</string>
    <key>uniE53E</key>
    <string>uniE_53E_.glif</string>
    <key>uniE53F</key>
    <string>uniE_53F_.glif</string>
    <key>uniE540</key>
    <string>uniE_540.glif</string>
    <key>uniE541</key>
    <string>uniE_541.glif</string>
    <key>uniE542</key>
    <string>uniE_542.glif</string>
    <key>uniE543</key>
    <string>uniE_543.glif</string>
    <key>uniE544</key>
    <string>uniE_544.glif</string>
    <key>uniE545</key>
    <string>uniE_545.glif</string>
    <key>uniE546</key>
    <string>uniE_546.glif</string>
    <key>uniE547</key>
    <string>uniE_547.glif</string>
    <key>uniE549</key>
    <string>uniE_549.glif</string>
    <key>uniE566</key>
    <string>uniE_566.glif</string>
    <key>uniE567</key>
    <string>uniE_567.glif</string>
    <key>uniE568</key>
    <string>uniE_568.glif</string>
    <key>uniE56C</key>
    <string>uniE_56C_.glif</string>
    <key>uniE56D</key>
    <string>uniE_56D_.glif</string>
    <key>uniE56E</key>
    <string>uniE_56E_.glif</string>
    <key>uniE573</key>
    <string>uniE_573.glif</string>
    <key>uniE574</key>
    <string>uniE_574.glif</string>
    <key>uniE575</key>
    <string>uniE_575.glif</string>
    <key>uniE576</key>
    <string>uniE_576.glif</string>
    <key>uniE581</key>
    <string>uniE_581.glif</string>
    <key>uniE5D0</key>
    <string>uniE_5D_0.glif</string>
    <key>uniE5D1</key>
    <string>uniE_5D_1.glif</string>
    <key>uniE5D2</key>
    <string>uniE_5D_2.glif</string>
    <key>uniE5D3</key>
    <string>uniE_5D_3.glif</string>
    <key>uniE5D4</key>
    <string>uniE_5D_4.glif</string>
    <key>uniE5D5</key>
    <string>uniE_5D_5.glif</string>
    <key>uniE5D6</key>
    <string>uniE_5D_6.glif</string>
    <key>uniE5D7</key>
    <string>uniE_5D_7.glif</string>
    <key>uniE5D8</key>
    <string>uniE_5D_8.glif</string>
    <key>uniE5D9</key>
    <string>uniE_5D_9.glif</string>
    <key>uniE5DA</key>
    <string>uniE_5D_A_.glif</string>
    <key>uniE5DB</key>
    <string>uniE_5D_B_.glif</string>
    <key>uniE5DC</key>
    <string>uniE_5D_C_.glif</string>
    <key>uniE5DD</key>
    <string>uniE_5D_D_.glif</string>
    <key>uniE5DE</key>
    <string>uniE_5D_E_.glif</string>
    <key>uniE5DF</key>
    <string>uniE_5D_F_.glif</string>
    <key>uniE5E0</key>
    <string>uniE_5E_0.glif</string>
    <key>uniE5E1</key>
    <string>uniE_5E_1.glif</string>
    <key>uniE5E2</key>
    <string>uniE_5E_2.glif</string>
    <key>uniE5E3</key>
    <string>uniE_5E_3.glif</string>
    <key>uniE5E4</key>
    <string>uniE_5E_4.glif</string>
    <key>uniE5E5</key>
    <string>uniE_5E_5.glif</string>
    <key>uniE5E6</key>
    <string>uniE_5E_6.glif</string>
    <key>uniE5E7</key>
    <string>uniE_5E_7.glif</string>
    <key>uniE5E8</key>
    <string>uniE_5E_8.glif</string>
    <key>uniE5E9</key>
    <string>uniE_5E_9.glif</string>
    <key>uniE5EA</key>
    <string>uniE_5E_A_.glif</string>
    <key>uniE5EB</key>
    <string>uniE_5E_B_.glif</string>
    <key>uniE5EC</key>
    <string>uniE_5E_C_.glif</string>
    <key>uniE5ED</key>
    <string>uniE_5E_D_.glif</string>
    <key>uniE5EE</key>
    <string>uniE_5E_E_.glif</string>
    <key>uniE5EF</key>
    <string>uniE_5E_F_.glif</string>
    <key>uniE610</key>
    <string>uniE_610.glif</string>
    <key>uniE611</key>
    <string>uniE_611.glif</string>
    <key>uniE612</key>
    <string>uniE_612.glif</string>
    <key>uniE613</key>
    <string>uniE_613.glif</string>
    <key>uniE614</key>
    <string>uniE_614.glif</string>
    <key>uniE616</key>
    <string>uniE_616.glif</string>
    <key>uniE617</key>
    <string>uniE_617.glif</string>
    <key>uniE650</key>
    <string>uniE_650.glif</string>
    <key>uniE651</key>
    <string>uniE_651.glif</string>
    <key>uniE652</key>
    <string>uniE_652.glif</string>
    <key>uniE653</key>
    <string>uniE_653.glif</string>
    <key>uniE654</key>
    <string>uniE_654.glif</string>
    <key>uniE655</key>
    <string>uniE_655.glif</string>
    <key>uniE656</key>
    <string>uniE_656.glif</string>
    <key>uniE657</key>
    <string>uniE_657.glif</string>
    <key>uniE658</key>
    <string>uniE_658.glif</string>
    <key>uniE659</key>
    <string>uniE_659.glif</string>
    <key>uniE65A</key>
    <string>uniE_65A_.glif</string>
    <key>uniE830</key>
    <string>uniE_830.glif</string>
    <key>uniE831</key>
    <string>uniE_831.glif</string>
    <key>uniE860</key>
    <string>uniE_860.glif</string>
    <key>uniE861</key>
    <string>uniE_861.glif</string>
    <key>uniE870</key>
    <string>uniE_870.glif</string>
    <key>uniE871</key>
    <string>uniE_871.glif</string>
    <key>uniE872</key>
    <string>uniE_872.glif</string>
    <key>uniE873</key>
    <string>uniE_873.glif</string>
    <key>uniE874</key>
    <string>uniE_874.glif</string>
    <key>uniE875</key>
    <string>uniE_875.glif</string>
    <key>uniE876</key>
    <string>uniE_876.glif</string>
    <key>uniE877</key>
    <string>uniE_877.glif</string>
    <key>uniE878</key>
    <string>uniE_878.glif</string>
    <key>uniE879</key>
    <string>uniE_879.glif</string>
    <key>uniE87A</key>
    <string>uniE_87A_.glif</string>
    <key>uniE87B</key>
    <string>uniE_87B_.glif</string>
    <key>uniE87C</key>
    <string>uniE_87C_.glif</string>
    <key>uniE880</key>
    <string>uniE_880.glif</string>
    <key>uniE881</key>
    <string>uniE_881.glif</string>
    <key>uniE882</key>
    <string>uniE_882.glif</string>
    <key>uniE883</key>
    <string>uniE_883.glif</string>
    <key>uniE884</key>
    <string>uniE_884.glif</string>
    <key>uniE885</key>
    <string>uniE_885.glif</string>
    <key>uniE886</key>
    <string>uniE_886.glif</string>
    <key>uniE887</key>
    <string>uniE_887.glif</string>
    <key>uniE888</key>
    <string>uniE_888.glif</string>
    <key>uniE889</key>
    <string>uniE_889.glif</string>
    <key>uniE88A</key>
    <string>uniE_88A_.glif</string>
    <key>uniE93C</key>
    <string>uniE_93C_.glif</string>
    <key>uniEAA0</key>
    <string>uniE_A_A_0.glif</string>
    <key>uniEAA1</key>
    <string>uniE_A_A_1.glif</string>
    <key>uniEAA2</key>
    <string>uniE_A_A_2.glif</string>
    <key>uniEAA3</key>
    <string>uniE_A_A_3.glif</string>
    <key>uniEAA4</key>
    <string>uniE_A_A_4.glif</string>
    <key>uniEAA5</key>
    <string>uniE_A_A_5.glif</string>
    <key>uniEAA6</key>
    <string>uniE_A_A_6.glif</string>
    <key>uniEAA7</key>
    <string>uniE_A_A_7.glif</string>
    <key>uniEAA8</key>
    <string>uniE_A_A_8.glif</string>
    <key>uniEAA9</key>
    <string>uniE_A_A_9.glif</string>
    <key>uniEAAA</key>
    <string>uniE_A_A_A_.glif</string>
    <key>uniEAAB</key>
    <string>uniE_A_A_B_.glif</string>
    <key>uniEAAC</key>
    <string>uniE_A_A_C_.glif</string>
    <key>uniEAAD</key>
    <string>uniE_A_A_D_.glif</string>
    <key>uniEAAE</key>
    <string>uniE_A_A_E_.glif</string>
    <key>uniEAAF</key>
    <string>uniE_A_A_F_.glif</string>
    <key>uniEAB0</key>
    <string>uniE_A_B_0.glif</string>
    <key>uniEAB1</key>
    <string>uniE_A_B_1.glif</string>
    <key>uniEAB2</key>
    <string>uniE_A_B_2.glif</string>
    <key>uniEAB3</key>
    <string>uniE_A_B_3.glif</string>
    <key>uniEAB4</key>
    <string>uniE_A_B_4.glif</string>
    <key>uniEAB5</key>
    <string>uniE_A_B_5.glif</string>
    <key>uniEAB6</key>
    <string>uniE_A_B_6.glif</string>
    <key>uniEACD</key>
    <string>uniE_A_C_D_.glif</string>
    <key>uniEACE</key>
    <string>uniE_A_C_E_.glif</string>
    <key>uniEACF</key>
    <string>uniE_A_C_F_.glif</string>
    <key>uniEAD0</key>
    <string>uniE_A_D_0.glif</string>
    <key>uniEAD1</key>
    <string>uniE_A_D_1.glif</string>
    <key>uniEAD2</key>
    <string>uniE_A_D_2.glif</string>
    <key>uniEAD3</key>
    <string>uniE_A_D_3.glif</string>
    <key>uniEAD4</key>
    <string>uniE_A_D_4.glif</string>
    <key>uniEAD5</key>
    <string>uniE_A_D_5.glif</string>
    <key>uniEAD6</key>
    <string>uniE_A_D_6.glif</string>
    <key>uniEAD7</key>
    <string>uniE_A_D_7.glif</string>
    <key>uniEAD8</key>
    <string>uniE_A_D_8.glif</string>
    <key>uniEAD9</key>
    <string>uniE_A_D_9.glif</string>
    <key>uniEADA</key>
    <string>uniE_A_D_A_.glif</string>
    <key>uniEADB</key>
    <string>uniE_A_D_B_.glif</string>
    <key>uniEADC</key>
    <string>uniE_A_D_C_.glif</string>
    <key>uniEADD</key>
    <string>uniE_A_D_D_.glif</string>
    <key>uniEADE</key>
    <string>uniE_A_D_E_.glif</string>
    <key>uniEADF</key>
    <string>uniE_A_D_F_.glif</string>
    <key>uniEAE0</key>
    <string>uniE_A_E_0.glif</string>
    <key>uniEAE1</key>
    <string>uniE_A_E_1.glif</string>
    <key>uniEAE2</key>
    <string>uniE_A_E_2.glif</string>
    <key>uniEAE3</key>
    <string>uniE_A_E_3.glif</string>
    <key>uniEAE4</key>
    <string>uniE_A_E_4.glif</string>
    <key>uniEAE5</key>
    <string>uniE_A_E_5.glif</string>
    <key>uniEAE6</key>
    <string>uniE_A_E_6.glif</string>
    <key>uniEAE7</key>
    <string>uniE_A_E_7.glif</string>
    <key>uniEAE8</key>
    <string>uniE_A_E_8.glif</string>
    <key>uniEAE9</key>
    <string>uniE_A_E_9.glif</string>
    <key>uniEAEA</key>
    <string>uniE_A_E_A_.glif</string>
    <key>uniEAEB</key>
    <string>uniE_A_E_B_.glif</string>
    <key>uniEAEC</key>
    <string>uniE_A_E_C_.glif</string>
    <key>uniEAED</key>
    <string>uniE_A_E_D_.glif</string>
    <key>uniEAEE</key>
    <string>uniE_A_E_E_.glif</string>
    <key>uniEAEF</key>
    <string>uniE_A_E_F_.glif</string>
    <key>uniEB60</key>
    <string>uniE_B_60.glif</string>
    <key>uniEB61</key>
    <string>uniE_B_61.glif</string>
    <key>uniEB62</key>
    <string>uniE_B_62.glif</string>
    <key>uniEB63</key>
    <string>uniE_B_63.glif</string>
    <key>uniEB64</key>
    <string>uniE_B_64.glif</string>
    <key>uniEB65</key>
    <string>uniE_B_65.glif</string>
    <key>uniEB66</key>
    <string>uniE_B_66.glif</string>
    <key>uniEB67</key>
    <string>uniE_B_67.glif</string>
    <key>uniEB6A</key>
    <string>uniE_B_6A_.glif</string>
    <key>uniEB6E</key>
    <string>uniE_B_6E_.glif</string>
    <key>uniEC62</key>
    <string>uniE_C_62.glif</string>
    <key>uniEC63</key>
    <string>uniE_C_63.glif</string>
    <key>uniEC64</key>
    <string>uniE_C_64.glif</string>
    <key>uniEC90</key>
    <string>uniE_C_90.glif</string>
    <key>uniECA0</key>
    <string>uniE_C_A_0.glif</string>
    <key>uniECA1</key>
    <string>uniE_C_A_1.glif</string>
    <key>uniECA2</key>
    <string>uniE_C_A_2.glif</string>
    <key>uniECA3</key>
    <string>uniE_C_A_3.glif</string>
    <key>uniECA5</key>
    <string>uniE_C_A_5.glif</string>
    <key>uniECA7</key>
    <string>uniE_C_A_7.glif</string>
    <key>uniECA9</key>
    <string>uniE_C_A_9.glif</string>
    <key>uniECB7</key>
    <string>uniE_C_B_7.glif</string>
    <key>uniED10</key>
    <string>uniE_D_10.glif</string>
    <key>uniED11</key>
    <string>uniE_D_11.glif</string>
    <key>uniED12</key>
    <string>uniE_D_12.glif</string>
    <key>uniED13</key>
    <string>uniE_D_13.glif</string>
    <key>uniED14</key>
    <string>uniE_D_14.glif</string>
    <key>uniED15</key>
    <string>uniE_D_15.glif</string>
    <key>uniED16</key>
    <string>uniE_D_16.glif</string>
    <key>uniED17</key>
    <string>uniE_D_17.glif</string>
    <key>uniED18</key>
    <string>uniE_D_18.glif</string>
    <key>uniED19</key>
    <string>uniE_D_19.glif</string>
    <key>uniED1A</key>
    <string>uniE_D_1A_.glif</string>
    <key>uniED1B</key>
    <string>uniE_D_1B_.glif</string>
    <key>uniED1C</key>
    <string>uniE_D_1C_.glif</string>
    <key>uniED1D</key>
    <string>uniE_D_1D_.glif</string>
    <key>uniED1E</key>
    <string>uniE_D_1E_.glif</string>
    <key>uniED1F</key>
    <string>uniE_D_1F_.glif</string>
    <key>uniED20</key>
    <string>uniE_D_20.glif</string>
    <key>uniED21</key>
    <string>uniE_D_21.glif</string>
    <key>uniED22</key>
    <string>uniE_D_22.glif</string>
    <key>uniED23</key>
    <string>uniE_D_23.glif</string>
    <key>uniED24</key>
    <string>uniE_D_24.glif</string>
    <key>uniED25</key>
    <string>uniE_D_25.glif</string>
    <key>uniED26</key>
    <string>uniE_D_26.glif</string>
    <key>uniED27</key>
    <string>uniE_D_27.glif</string>
    <key>uniED28</key>
    <string>uniE_D_28.glif</string>
    <key>uniED29</key>
    <string>uniE_D_29.glif</string>
    <key>uniED2A</key>
    <string>uniE_D_2A_.glif</string>
    <key>uniED2B</key>
    <string>uniE_D_2B_.glif</string>
    <key>uniED2C</key>
    <string>uniE_D_2C_.glif</string>
    <key>uniED2D</key>
    <string>uniE_D_2D_.glif</string>
    <key>uniED2E</key>
    <string>uniE_D_2E_.glif</string>
    <key>uniED60</key>
    <string>uniE_D_60.glif</string>
    <key>uniED61</key>
    <string>uniE_D_61.glif</string>
    <key>uniED62</key>
    <string>uniE_D_62.glif</string>
    <key>uniED63</key>
    <string>uniE_D_63.glif</string>
    <key>uniED64</key>
    <string>uniE_D_64.glif</string>
    <key>uniED80</key>
    <string>uniE_D_80.glif</string>
    <key>uniED81</key>
    <string>uniE_D_81.glif</string>
    <key>uniED82</key>
    <string>uniE_D_82.glif</string>
    <key>uniED83</key>
    <string>uniE_D_83.glif</string>
    <key>uniED84</key>
    <string>uniE_D_84.glif</string>
    <key>uniED85</key>
    <string>uniE_D_85.glif</string>
    <key>uniED86</key>
    <string>uniE_D_86.glif</string>
    <key>uniED87</key>
    <string>uniE_D_87.glif</string>
    <key>uniED88</key>
    <string>uniE_D_88.glif</string>
    <key>uniED89</key>
    <string>uniE_D_89.glif</string>
    <key>uniED8A</key>
    <string>uniE_D_8A_.glif</string>
    <key>uniED8B</key>
    <string>uniE_D_8B_.glif</string>
    <key>uniED8C</key>
    <string>uniE_D_8C_.glif</string>
    <key>uniED8D</key>
    <string>uniE_D_8D_.glif</string>
    <key>uniF400</key>
    <string>uniF_400.glif</string>
    <key>uniF401</key>
    <string>uniF_401.glif</string>
    <key>uniF402</key>
    <string>uniF_402.glif</string>
    <key>uniF403</key>
    <string>uniF_403.glif</string>
    <key>uniF434</key>
    <string>uniF_434.glif</string>
    <key>uniF440</key>
    <string>uniF_440.glif</string>
    <key>uniF441</key>
    <string>uniF_441.glif</string>
    <key>uniF442</key>
    <string>uniF_442.glif</string>
    <key>uniF443</key>
    <string>uniF_443.glif</string>
    <key>uniF444</key>
    <string>uniF_444.glif</string>
    <key>uniF445</key>
    <string>uniF_445.glif</string>
    <key>uniF446</key>
    <string>uniF_446.glif</string>
    <key>uniF447</key>
    <string>uniF_447.glif</string>
    <key>uniF448</key>
    <string>uniF_448.glif</string>
    <key>uniF449</key>
    <string>uniF_449.glif</string>
    <key>uniF44A</key>
    <string>uniF_44A_.glif</string>
    <key>uniF44B</key>
    <string>uniF_44B_.glif</string>
    <key>uniF45D</key>
    <string>uniF_45D_.glif</string>
    <key>uniF45E</key>
    <string>uniF_45E_.glif</string>
    <key>uniF45F</key>
    <string>uniF_45F_.glif</string>
    <key>uniF460</key>
    <string>uniF_460.glif</string>
    <key>uniF461</key>
    <string>uniF_461.glif</string>
    <key>uniF462</key>
    <string>uniF_462.glif</string>
    <key>uniF463</key>
    <string>uniF_463.glif</string>
    <key>uniF464</key>
    <string>uniF_464.glif</string>
    <key>uniF465</key>
    <string>uniF_465.glif</string>
    <key>uniF466</key>
    <string>uniF_466.glif</string>
    <key>uniF4D7</key>
    <string>uniF_4D_7.glif</string>
    <key>uniF4D8</key>
    <string>uniF_4D_8.glif</string>
    <key>uniF4D9</key>
    <string>uniF_4D_9.glif</string>
    <key>uniF4DA</key>
    <string>uniF_4D_A_.glif</string>
    <key>uniF4DB</key>
    <string>uniF_4D_B_.glif</string>
    <key>uniF4DC</key>
    <string>uniF_4D_C_.glif</string>
    <key>uniF4DD</key>
    <string>uniF_4D_D_.glif</string>
    <key>uniF4DE</key>
    <string>uniF_4D_E_.glif</string>
    <key>uniF4E3</key>
    <string>uniF_4E_3.glif</string>
    <key>uniF4E4</key>
    <string>uniF_4E_4.glif</string>
    <key>uniF4E5</key>
    <string>uniF_4E_5.glif</string>
    <key>uniF4E6</key>
    <string>uniF_4E_6.glif</string>
    <key>uniF4E7</key>
    <string>uniF_4E_7.glif</string>
    <key>uniF4E8</key>
    <string>uniF_4E_8.glif</string>
    <key>uniF4E9</key>
    <string>uniF_4E_9.glif</string>
    <key>uniF4EA</key>
    <string>uniF_4E_A_.glif</string>
    <key>uniF4EB</key>
    <string>uniF_4E_B_.glif</string>
    <key>uniF4EC</key>
    <string>uniF_4E_C_.glif</string>
    <key>uniF4ED</key>
    <string>uniF_4E_D_.glif</string>
    <key>uniF506</key>
    <string>uniF_506.glif</string>
    <key>uniF507</key>
    <string>uniF_507.glif</string>
    <key>uniF508</key>
    <string>uniF_508.glif</string>
    <key>uniF509</key>
    <string>uniF_509.glif</string>
    <key>uniF50A</key>
    <string>uniF_50A_.glif</string>
    <key>uniF50B</key>
    <string>uniF_50B_.glif</string>
    <key>uniF50C</key>
    <string>uniF_50C_.glif</string>
    <key>uniF50D</key>
    <string>uniF_50D_.glif</string>
    <key>uniF50E</key>
    <string>uniF_50E_.glif</string>
    <key>uniF50F</key>
    <string>uniF_50F_.glif</string>
    <key>uniF5B2</key>
    <string>uniF_5B_2.glif</string>
    <key>uniF5B3</key>
    <string>uniF_5B_3.glif</string>
    <key>uniF5B4</key>
    <string>uniF_5B_4.glif</string>
    <key>uniF5D5</key>
    <string>uniF_5D_5.glif</string>
    <key>uniF5D6</key>
    <string>uniF_5D_6.glif</string>
    <key>uniF5D7</key>
    <string>uniF_5D_7.glif</string>
    <key>uniF5D8</key>
    <string>uniF_5D_8.glif</string>
    <key>uniF5D9</key>
    <string>uniF_5D_9.glif</string>
    <key>uniF700</key>
    <string>uniF_700.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
