<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>F</key>
  <dict>
    <key>i</key>
    <integer>-50</integer>
    <key>l</key>
    <integer>-72</integer>
    <key>r</key>
    <integer>-59</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>T</key>
    <integer>-65</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>o</key>
    <integer>29</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>a</key>
    <integer>-57</integer>
    <key>e</key>
    <integer>-34</integer>
    <key>o</key>
    <integer>-18</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>a</key>
    <integer>-152</integer>
    <key>b</key>
    <integer>-156</integer>
    <key>e</key>
    <integer>-168</integer>
    <key>h</key>
    <integer>-95</integer>
    <key>i</key>
    <integer>-101</integer>
    <key>l</key>
    <integer>-87</integer>
    <key>o</key>
    <integer>-121</integer>
    <key>p</key>
    <integer>-125</integer>
    <key>r</key>
    <integer>-131</integer>
    <key>u</key>
    <integer>-97</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>a</key>
    <integer>-107</integer>
    <key>c</key>
    <integer>-72</integer>
    <key>i</key>
    <integer>-33</integer>
    <key>l</key>
    <integer>-43</integer>
    <key>u</key>
    <integer>-22</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>i</key>
    <integer>14</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>d</key>
    <integer>-43</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>a</key>
    <integer>-56</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>A</key>
    <integer>-92</integer>
    <key>a</key>
    <integer>-93</integer>
    <key>eight</key>
    <integer>-25</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>a</key>
    <integer>-55</integer>
    <key>i</key>
    <integer>19</integer>
  </dict>
</dict>
</plist>
