<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>equal</string>
    <string>question</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>asciitilde</string>
    <string>at</string>
    <string>caron</string>
    <string>endash</string>
    <string>emdash</string>
    <string>bullet</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Edieresis</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>germandbls</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ydieresis</string>
    <string>copyright</string>
    <string>exclamdown</string>
    <string>sterling</string>
    <string>registered</string>
    <string>degree</string>
    <string>questiondown</string>
    <string>Oslash</string>
    <string>less</string>
    <string>greater</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>cent</string>
    <string>plusminus</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Ecircumflex</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>trademark</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>Delta</string>
    <string>ellipsis</string>
    <string>uniE050</string>
    <string>uniE062</string>
    <string>uniE05C</string>
    <string>uniE052</string>
    <string>uniE064</string>
    <string>uniE053</string>
    <string>uniE080</string>
    <string>uniE081</string>
    <string>uniE082</string>
    <string>uniE083</string>
    <string>uniE084</string>
    <string>uniE085</string>
    <string>uniE086</string>
    <string>uniE087</string>
    <string>uniE088</string>
    <string>uniE089</string>
    <string>uniE08B</string>
    <string>uniE08A</string>
    <string>uniE094</string>
    <string>uniE095</string>
    <string>uniE08C</string>
    <string>uniE09C</string>
    <string>uniE0A0</string>
    <string>uniE0A2</string>
    <string>uniE0A4</string>
    <string>uniE0A3</string>
    <string>uniE0B2</string>
    <string>uniE0B1</string>
    <string>uniE0B9</string>
    <string>uniE0DB</string>
    <string>uniE104</string>
    <string>uniE1D0</string>
    <string>uniE1D3</string>
    <string>uniE1D5</string>
    <string>uniE1D7</string>
    <string>uniE1D9</string>
    <string>uniE1E7</string>
    <string>uniE500</string>
    <string>uniE501</string>
    <string>uniE240</string>
    <string>uniE241</string>
    <string>uniE243</string>
    <string>uniE242</string>
    <string>uniE880</string>
    <string>uniE889</string>
    <string>uniE888</string>
    <string>uniE887</string>
    <string>uniE886</string>
    <string>uniE883</string>
    <string>uniE884</string>
    <string>uniE882</string>
    <string>uniE881</string>
    <string>uniE885</string>
    <string>uniE88A</string>
    <string>uniE520</string>
    <string>uniE524</string>
    <string>uniE522</string>
    <string>uniE521</string>
    <string>uniE525</string>
    <string>uniE52D</string>
    <string>uniE52C</string>
    <string>uniE536</string>
    <string>uniE535</string>
    <string>uniE537</string>
    <string>uniE53B</string>
    <string>uniE539</string>
    <string>uniE538</string>
    <string>uniE52A</string>
    <string>uniE52B</string>
    <string>uniE529</string>
    <string>uniE52F</string>
    <string>uniE530</string>
    <string>uniE531</string>
    <string>uniE534</string>
    <string>uniE4E3</string>
    <string>uniE4E4</string>
    <string>uniE4E5</string>
    <string>uniE4E6</string>
    <string>uniE4E7</string>
    <string>uniE4E8</string>
    <string>uniE4EA</string>
    <string>uniE4E9</string>
    <string>uniE260</string>
    <string>uniE261</string>
    <string>uniE262</string>
    <string>uniE263</string>
    <string>uniE264</string>
    <string>uniE26A</string>
    <string>uniE26B</string>
    <string>uniE47E</string>
    <string>uniE47F</string>
    <string>uniE4A0</string>
    <string>uniE4B4</string>
    <string>uniE4B3</string>
    <string>uniE4B5</string>
    <string>uniE4AD</string>
    <string>uniE4A2</string>
    <string>uniE4AE</string>
    <string>uniE4B2</string>
    <string>uniE4B0</string>
    <string>uniE4B1</string>
    <string>uniE4AF</string>
    <string>uniE4A4</string>
    <string>uniE4A5</string>
    <string>uniE4AC</string>
    <string>uniE4A3</string>
    <string>uniE08F</string>
    <string>uniE047</string>
    <string>uniE048</string>
    <string>uniE06A</string>
    <string>uniE567</string>
    <string>uniE566</string>
    <string>uniE56C</string>
    <string>uniE568</string>
    <string>uniE4C0</string>
    <string>uniE4C1</string>
    <string>uniE4CE</string>
    <string>uniE4D1</string>
    <string>uniE4D0</string>
    <string>uniE511</string>
    <string>uniE51C</string>
    <string>uniE515</string>
    <string>uniE51A</string>
    <string>uniE51B</string>
    <string>uniE650</string>
    <string>uniE655</string>
    <string>uniE656</string>
    <string>uniE610</string>
    <string>uniE612</string>
    <string>uniE614</string>
    <string>uniE616</string>
    <string>uniE617</string>
    <string>uniE5E4</string>
    <string>uniE5D8</string>
    <string>uniE5E2</string>
    <string>uniE5E7</string>
    <string>uniE5EF</string>
    <string>uniECA0</string>
    <string>uniECB7</string>
    <string>uniECA9</string>
    <string>uniECA7</string>
    <string>uniECA5</string>
    <string>uniECA3</string>
    <string>uniECA2</string>
    <string>uniE56D</string>
    <string>uniE003</string>
    <string>uniE002</string>
    <string>uniE007</string>
    <string>uniE549</string>
    <string>uniE547</string>
    <string>uniE546</string>
    <string>uniEC62</string>
    <string>uniEC63</string>
    <string>uniEC64</string>
    <string>uniEB66</string>
    <string>uniEB62</string>
    <string>uniE00C</string>
    <string>uniE00B</string>
    <string>uniEB60</string>
    <string>uniEB64</string>
    <string>uniEB61</string>
    <string>uniEB63</string>
    <string>uniEB65</string>
    <string>uniEB67</string>
    <string>uniEB6E</string>
    <string>uniEB6A</string>
    <string>uniEAA4</string>
    <string>uniE004</string>
    <string>uniE527</string>
    <string>uniE528</string>
    <string>uniE526</string>
    <string>uniE523</string>
    <string>uniE52E</string>
    <string>uniE532</string>
    <string>uniE533</string>
    <string>uniE53A</string>
    <string>uniE53C</string>
    <string>uniE53D</string>
    <string>uniE53E</string>
    <string>uniE53F</string>
    <string>uniE540</string>
    <string>uniE541</string>
    <string>uniE542</string>
    <string>uniE543</string>
    <string>uniE544</string>
    <string>uniE545</string>
    <string>uniE651</string>
    <string>uniE652</string>
    <string>uniE653</string>
    <string>uniE654</string>
    <string>uniEAA0</string>
    <string>uniEAA1</string>
    <string>uniEAA2</string>
    <string>uniEAA3</string>
    <string>uniEAA5</string>
    <string>uniEAA6</string>
    <string>uniEAA7</string>
    <string>uniEAA8</string>
    <string>uniEAA9</string>
    <string>uniEAAA</string>
    <string>uniEAAB</string>
    <string>uniEAAC</string>
    <string>uniEAAD</string>
    <string>uniEAAE</string>
    <string>uniEAAF</string>
    <string>uniECA1</string>
    <string>uniED10</string>
    <string>uniED11</string>
    <string>uniED12</string>
    <string>uniED13</string>
    <string>uniED14</string>
    <string>uniED15</string>
    <string>uniED16</string>
    <string>uniED17</string>
    <string>uniED18</string>
    <string>uniED19</string>
    <string>uniED1A</string>
    <string>uniED1B</string>
    <string>uniED1C</string>
    <string>uniED1D</string>
    <string>uniED1E</string>
    <string>uniED1F</string>
    <string>uniED20</string>
    <string>uniED21</string>
    <string>uniED22</string>
    <string>uniED23</string>
    <string>uniED24</string>
    <string>uniED25</string>
    <string>uniED26</string>
    <string>uniED27</string>
    <string>uniED28</string>
    <string>uniED29</string>
    <string>uniED2A</string>
    <string>uniED2B</string>
    <string>uniED2C</string>
    <string>uniED2D</string>
    <string>uniED2E</string>
    <string>uniED80</string>
    <string>uniED81</string>
    <string>uniED82</string>
    <string>uniED83</string>
    <string>uniED84</string>
    <string>uniED85</string>
    <string>uniED86</string>
    <string>uniED87</string>
    <string>uniED88</string>
    <string>uniED89</string>
    <string>uniED8A</string>
    <string>uniED8B</string>
    <string>uniED8C</string>
    <string>uniED8D</string>
    <string>uniE657</string>
    <string>uniE658</string>
    <string>uniE659</string>
    <string>uniE65A</string>
    <string>uniE244</string>
    <string>uniE245</string>
    <string>uniE246</string>
    <string>uniE247</string>
    <string>uniE248</string>
    <string>uniE249</string>
    <string>uniE26C</string>
    <string>uniE26D</string>
    <string>uniE4E0</string>
    <string>uniE4E1</string>
    <string>uniE4E2</string>
    <string>uniE510</string>
    <string>uniE512</string>
    <string>uniE513</string>
    <string>uniE516</string>
    <string>uniE51D</string>
    <string>uniE07D</string>
    <string>uniE000</string>
    <string>uniE001</string>
    <string>uniE054</string>
    <string>uniE07E</string>
    <string>uniE063</string>
    <string>uniE1D2</string>
    <string>uniE1D1</string>
    <string>uniE0A1</string>
    <string>uniE870</string>
    <string>uniE871</string>
    <string>uniE872</string>
    <string>uniE873</string>
    <string>uniE220</string>
    <string>uniE221</string>
    <string>uniE222</string>
    <string>uniE4A1</string>
    <string>uniE611</string>
    <string>uniE613</string>
    <string>uniE100</string>
    <string>uniE101</string>
    <string>uniE102</string>
    <string>uniE103</string>
    <string>uniE105</string>
    <string>uniE106</string>
    <string>uniE107</string>
    <string>uniE108</string>
    <string>uniE109</string>
    <string>uniE10A</string>
    <string>uniE09D</string>
    <string>uniE00D</string>
    <string>uniE22A</string>
    <string>uniE22B</string>
    <string>uniE06E</string>
    <string>uniE0B3</string>
    <string>uniE0BD</string>
    <string>uniE0BE</string>
    <string>uniE0C6</string>
    <string>uniE0C7</string>
    <string>uniE0DD</string>
    <string>uniE0F5</string>
    <string>uniE0F6</string>
    <string>uniE113</string>
    <string>uniE114</string>
    <string>uniE11A</string>
    <string>uniE11B</string>
    <string>uniE210</string>
    <string>uniE4CF</string>
    <string>uniE4EE</string>
    <string>uniE4EF</string>
    <string>uniE4F0</string>
    <string>uniE4F1</string>
    <string>uniE581</string>
    <string>uniE5D0</string>
    <string>uniE5D1</string>
    <string>uniE5D2</string>
    <string>uniE5D3</string>
    <string>uniE5D4</string>
    <string>uniE5D5</string>
    <string>uniE5D6</string>
    <string>uniE5D7</string>
    <string>uniE5D9</string>
    <string>uniE5DD</string>
    <string>uniE5DE</string>
    <string>uniE5DF</string>
    <string>uniE5E0</string>
    <string>uniE5E1</string>
    <string>uniE5E5</string>
    <string>uniE874</string>
    <string>uniE861</string>
    <string>uniE860</string>
    <string>uniE5DA</string>
    <string>uniE5DB</string>
    <string>uniE5DC</string>
    <string>uniE5EC</string>
    <string>uniE5ED</string>
    <string>uniE5EE</string>
    <string>uniE5E3</string>
    <string>uniE5E6</string>
    <string>uniE5E8</string>
    <string>uniE5E9</string>
    <string>uniE5EA</string>
    <string>uniE5EB</string>
    <string>uniE0D8</string>
    <string>uniE0D9</string>
    <string>uniE0DA</string>
    <string>uniE0E1</string>
    <string>uniE0E2</string>
    <string>uniE4A6</string>
    <string>uniE4A7</string>
    <string>uniE4A8</string>
    <string>uniE4A9</string>
    <string>uniE4AA</string>
    <string>uniE4AB</string>
    <string>uniE4EB</string>
    <string>uniE24A</string>
    <string>uniE24B</string>
    <string>uniE223</string>
    <string>uniE830</string>
    <string>uniE831</string>
    <string>uniEC90</string>
    <string>uniF5D5</string>
    <string>uniF5D6</string>
    <string>uniF5D7</string>
    <string>uniF5D8</string>
    <string>uniF5D9</string>
    <string>uniF434</string>
    <string>uniE93C</string>
    <string>fi</string>
    <string>fl</string>
    <string>uniE575</string>
    <string>uniE573</string>
    <string>uniE574</string>
    <string>uniE576</string>
    <string>uniEAB0</string>
    <string>uniEAB1</string>
    <string>uniEAB2</string>
    <string>uniEAB3</string>
    <string>uniEAB4</string>
    <string>uniEAB5</string>
    <string>uniEAB6</string>
    <string>uniEACD</string>
    <string>uniEACE</string>
    <string>uniEACF</string>
    <string>uniEAD0</string>
    <string>uniEAD1</string>
    <string>uniEAD2</string>
    <string>uniEAD3</string>
    <string>uniEAD4</string>
    <string>uniEAD5</string>
    <string>uniEAD6</string>
    <string>uniEAD7</string>
    <string>uniEAD8</string>
    <string>uniEAD9</string>
    <string>uniEADA</string>
    <string>uniEADB</string>
    <string>uniEADC</string>
    <string>uniEADD</string>
    <string>uniEADE</string>
    <string>uniEADF</string>
    <string>uniEAE0</string>
    <string>uniEAE1</string>
    <string>uniEAE2</string>
    <string>uniEAE3</string>
    <string>uniEAE4</string>
    <string>uniEAE5</string>
    <string>uniEAE6</string>
    <string>uniEAE7</string>
    <string>uniEAE8</string>
    <string>uniEAE9</string>
    <string>uniEAEA</string>
    <string>uniEAEB</string>
    <string>uniEAEC</string>
    <string>uniEAED</string>
    <string>uniEAEE</string>
    <string>uniEAEF</string>
    <string>uniE503</string>
    <string>uniE504</string>
    <string>uniE505</string>
    <string>uniE044</string>
    <string>uniE043</string>
    <string>uniF4E3</string>
    <string>uniF4E4</string>
    <string>uniF4E5</string>
    <string>uniF4E6</string>
    <string>uniF4E7</string>
    <string>uniF4E8</string>
    <string>uniF4E9</string>
    <string>uniF4EA</string>
    <string>uniF4EB</string>
    <string>uniF4EC</string>
    <string>uniF4ED</string>
    <string>musicflat</string>
    <string>musicnatural</string>
    <string>musicsharp</string>
    <string>paragraph</string>
    <string>ordmasculine</string>
    <string>florin</string>
    <string>uniE24D</string>
    <string>uniE24C</string>
    <string>uniE4EC</string>
    <string>uniE005</string>
    <string>uniE006</string>
    <string>uniE875</string>
    <string>uniE876</string>
    <string>uniE877</string>
    <string>uniE878</string>
    <string>uniE879</string>
    <string>uniE87A</string>
    <string>uniE87B</string>
    <string>uniE87C</string>
    <string>uniED60</string>
    <string>uniED61</string>
    <string>uniED62</string>
    <string>uniF4DC</string>
    <string>uniF4DD</string>
    <string>uniF4DE</string>
    <string>uniF4D7</string>
    <string>uniF4D8</string>
    <string>uniF4D9</string>
    <string>uniF4DA</string>
    <string>uniF4DB</string>
    <string>uniF506</string>
    <string>uniF507</string>
    <string>uniF508</string>
    <string>uniF509</string>
    <string>uniF50A</string>
    <string>uniF50B</string>
    <string>uniF50C</string>
    <string>uniF50D</string>
    <string>uniF50E</string>
    <string>uniF50F</string>
    <string>uniF440</string>
    <string>uniF441</string>
    <string>uniF442</string>
    <string>uniF443</string>
    <string>uniF444</string>
    <string>uniF445</string>
    <string>uniF446</string>
    <string>uniF447</string>
    <string>uniF448</string>
    <string>uniF449</string>
    <string>uniF44A</string>
    <string>uniF45D</string>
    <string>uniF45E</string>
    <string>uniF45F</string>
    <string>uniF460</string>
    <string>uniF461</string>
    <string>uniF462</string>
    <string>uniF463</string>
    <string>uniF464</string>
    <string>uniF465</string>
    <string>uniF466</string>
    <string>uniF44B</string>
    <string>uniF400</string>
    <string>uniF401</string>
    <string>uniF402</string>
    <string>uniF403</string>
    <string>uniED63</string>
    <string>uniED64</string>
    <string>uniE0A9</string>
    <string>uniE0B8</string>
    <string>uniE0E0</string>
    <string>uniE0B6</string>
    <string>uniE0B7</string>
    <string>uniE0AA</string>
    <string>uniE0A7</string>
    <string>uniE0A8</string>
    <string>uniE069</string>
    <string>integral</string>
    <string>partialdiff</string>
    <string>infinity</string>
    <string>nbspace</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>section</string>
    <string>micro</string>
    <string>guilsinglright</string>
    <string>guilsinglleft</string>
    <string>logicalnot</string>
    <string>mu</string>
    <string>daggerdbl</string>
  </array>
</dict>
</plist>
